.header {
    background-color: #Eff2D9 !important;
    border-bottom: 1px solid rgb(95, 37, 25);
}

.scroll-content {
    background-color: #Eff2D9 !important;
    height: 100%;
}

.menuFloat {
    background: none;
    font-size: 16px;
    color: rgb(95, 37, 25);
}

li {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #743526;
    margin-bottom: 10px;
}

.toolbar-title {
    color: rgb(95, 37, 25);
}

.noResults {
    text-align: center;
    font-size: 25px;
    top: 50%;
    margin-top: 20px;
    color: #914C37;
    font-family: 'Open Sans', sans-serif;
}