li {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #743526;
    margin-bottom: 10px;
}

.noResults {
    text-align: center;
    font-size: 25px;
    top: 50%;
    margin-top: 20px;
    color: #914C37;
    font-family: 'Open Sans', sans-serif;
}

.scroll-content {
    overflow: scroll;
}

.imgDesc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    text-transform : initial;
}
